<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://kit.fontawesome.com/812c8ee19a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" width="120">
                </a>
                <div class="enlaces" id="enlaces">
                    <a href="listarproductos">PRODUCTOS</a>
                    <a href="listarcategoria">CATEGORIA</a>
                    <a href="listarproveedor">PROVEEDORES</a>
                    <a href="listarempleado">EMPLEADOS</a>
                    <a href="listardestino">DESTINOS</a>
                    <a href="listardistrito">DISTRITOS</a>
                    <a href="listarproveedor">PROVEEDORES</a>
                    <a href="listardestino">DESTINO</a>
                    <a href="listarentradaproducto">ENTRADA_PRODUCTO</a>
                    <a href="listarsalidaproducto">SALIDA_PRODUCTO</a>
                    <a href="">DETALLE_SALIDA</a>
                    <a href="">DETALLE_SALIDA</a>
                </div>
            </div>
            <div class="d_flex">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Thony Leca
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br>

        <script src="js/bootstrap.js"></script>
    </body>
</html>