<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://kit.fontawesome.com/812c8ee19a.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">

    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="img/logo.png" width="120">
                </a>
                <div class="enlaces" id="enlaces">
                    <a href="listarproductos">PRODUCTOS</a>
                    <a href="listarcategoria">CATEGORIA</a>
                    <a href="listarproveedor">PROVEEDORES</a>
                    <a href="listarempleado">EMPLEADOS</a>
                    <a href="listardestino">DESTINOS</a>
                    <a href="listardistrito">DISTRITOS</a>
                    <a href="listarproveedor">PROVEEDORES</a>
                    <a href="listarentradaproducto">ENTRADA_PRODUCTO</a>
                    <a href="listarsalidaproducto">SALIDA_PRODUCTO</a>
                    <a href="listardetalle_entrada">DETALLE_ENTRADA</a>
                    <a href="listardetalle_salida">DETALLE_SALIDA</a>
                </div>
            </div>
            <div class="d_flex">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Thony Leca
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <br><br>
        <div class="card text-center m-4">
            <div class="card-header">
                Lista de Entrada_Producto
            </div>
            <div class="card-body">
                <div class="text-end">
                    <a th:href="@{/registroentradaproducto}" class="btn btn-danger">Agregar Entrada_Producto</a>
                </div>
            </div>
            <div class="card-footer text-muted">
                Villa Andina
            </div>

            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <td>Código</td>
                        <td>Fecha</td>
                        <td>Empleado</td>
                        <td>Destino</td>
                        <td>Estado</td>
                        <td>Editar</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="entradaproducto : ${entradaproducto}">
                        <td th:text="${entradaproducto.codigo}"></td>
                        <td th:text="${entradaproducto.fecha}"></td>
                        <td th:text="${entradaproducto.empleado.nombre}"></td>
                        <td th:text="${entradaproducto.destino.nombre}"></td>
                        <td th:text="${entradaproducto.estado}? 'Habilitado':'Deshabilitado'"></td>
                        <td><button class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i> Editar</button></td>
                        <td><button class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Eliminar</button></td>
                    </tr>
                </tbody>
            </table>

        </div>

        <script src="js/bootstrap.js"></script>
    </body>
</html>